@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@using WebSite.Models

@model IEnumerable<Feed>
@{
    ViewBag.Title = "Feeds";
}
<h2>All feeds</h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Feed_Id</td>
            <td>@item.Feed_URL</td>
            <td>@item.Name</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" data-toggle="tooltip" title="Items" data-placement="top" asp-controller="Feed" asp-route-id="@item.Feed_Id"><span class="glyphicon glyphicon-info-sign"></span></a>
                    <a class="btn btn-default" data-toggle="tooltip" title="Изменить" data-placement="top" asp-action="EditTaxiOffer" asp-controller="Offer" asp-route-id="@item.Feed_Id"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" data-toggle="tooltip" title="Удалить" data-placement="top" asp-action="DeleteTaxiOffer" asp-controller="Offer" asp-route-id="@item.Feed_Id"><span class="glyphicon glyphicon-remove"></span> </a>
                </div>
            </td>
        </tr>
    }
</table>
