@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model FeedRequestModel

@{
    ViewBag.Title = "Simulate a feed";
}

<h2>Simulate a feed</h2>

<div id="info" class="alert alert-info hidden">
    <strong id="info-text"></strong>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Configure your feed</div>
    <div class="panel-body">

    <div class="form-group">
        <label asp-for="Feed_URL" class="control-label">Feed Url</label>
        <input type="text" asp-for="Feed_URL" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Channel_Id" class="control-label">Channel Id</label>
        <input type="text" asp-for="Channel_Id" class="form-control" />
    </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <button id="simulate" class="btn btn-primary">Simulate</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>


        window.onload = function () {
            WebSite.init('@Url.Action("CreateFeedAsync")');
        };
        let logger = new signalR.ConsoleLogger(signalR.LogLevel.Information);
        let connection = new signalR.HubConnection(`http://${document.location.host}/Channelhub`, { transport: signalR.HttpTransportType.WebSockets, logger: logger });

        let startConnection = () => {
            connection.start()
                .then(e => {
                    console.log("Connection opened");
                })
                .catch(err => console.log(err));
        };

        startConnection();

        connection.on('UpdateCurrentPosition', location => {
            WebSite.updateChannelPosition(location);
        });

        connection.on('NotifyChannel', (message) => {
            WebSite.notifyChannelStatus(message);
        });
    </script>
}