﻿@model List<UserModel> 

@{
    ViewBag.Title = "Channels by User";
}

<h2>Channels by User</h2>

<div class="container">
    <table class="table table-sChanneled">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Number Phone
            </th>
            <th></th>
        </tr>
        </thead>
        <!--tbody>
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => m[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Email)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].NumberPhone)
                </td>
                <td>
                    @Html.ActionLink("Channels", "ChannelsByUserId", new {id = Model[i].Id})
                </td>
            </tr>
        }
        </tbody-->
    </table>
</div>